#root {
  margin: 0 auto;
}

main {
  max-width: 1280px;
  padding: 6rem;
  background-color: #1F2937;
  border-radius: 6px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: karla;
  font-size: 4.2em;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 10px;
  letter-spacing: -1px;
}

h4 {
  font-size: 2em;
  font-weight: 400;
  color: #D5D4D8;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 28px;
}

span {
  color: #4ADF86;
}

hr {
  border: none;
  border-top: 1px solid #506581;
  margin-top: 35px;
  margin-bottom: 0px;
  
}

.passwords {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 50px;
}

.password-container {
  width: 250px;
  height: auto;
  color: #55F991;
  margin: 0px;
  border-radius: 6px;
  background-color: #273549;
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #10B981;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 51px;
  height: 50px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}