#root {
  margin: 0 auto;
}

main {
  max-width: 1280px;
  padding: 6rem;
  background-color: #1F2937;
  border-radius: 6px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: karla;
  font-size: 4.2em;
  line-height: 1;
  margin-bottom: 0;
  padding-top: 10px;
  letter-spacing: -1px;
}

h4 {
  font-size: 2em;
  font-weight: 400;
  color: #D5D4D8;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 28px;
}

span {
  color: #4ADF86;
}

hr {
  border: none;
  border-top: 1px solid #506581;
  margin-top: 35px;
  margin-bottom: 0px;
  
}

.passwords {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  height: 50px;
}

.password-container {
  width: 250px;
  height: auto;
  color: #55F991;
  margin: 0px;
  border-radius: 6px;
  background-color: #273549;
  display: flex;
  align-items: center;
  justify-content: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #10B981;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 51px;
  height: 50px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.switch {
  --secondary-container: #3a4b39;
  --primary: #4ADF86;
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.7em;
  height: 1.8em;
 }
 
 .switch input {
  display: none;
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #313033;
  transition: .2s;
  border-radius: 30px;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: #aeaaae;
  transition: .4s;
 }
 
 input:checked + .slider::before {
  background-color: var(--primary);
 }
 
 input:checked + .slider {
  background-color: var(--secondary-container);
 }
 
 input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary-container);
 }
 
 input:checked + .slider:before {
  transform: translateX(1.9em);
 }

 .tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  left: -23%;
  top: -64%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: visible;
  width: 160px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

